
<div id="search-result">
	<table id="objects-record" class="table table-striped table-condensed table-hover table-bordered">
	  <thead>
	    <tr>
	      <th>Object ID</th>
	      <th>Object Type</th>
	      <th>Timestamp</th>
	      <th>Associated Properties</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>
		
	  <tbody>
		<tr>
		  <% if @object_record %>
	      <td><%= @object_record.object_id %></td>
	      <td><%= @object_record.object_type %></td>
	      <td><%= pretty_date_format(@object_record.timestamp) %></td>
	      <td><%= @merged_properties %></td>
	      <% else %>
	      <td>No Data Available<td>
	      <% end %>
	    </tr>
	  </tbody>
	</table>
</div>